<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" data-target="#addFilter">Add</button>
                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center">#</th>
                                    <th style="width: 29%;text-align: center">Field Name</th>
                                    <th style="width: 23%;text-align: center">Type</th>
                                    <th style="width: 22%;text-align: center">Values</th>
                                    <th style="width: 22%;text-align: center">Is Mandatory</th>
                                    <th style="width: 20%;text-align: center" class="thAction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="7">No data found</td>
                                </tr>
                                <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{dt.fieldName}}</td>
                                    <td *ngIf="dt.type == '1'">Text-box</td>
                                    <td *ngIf="dt.type == '2'">Checkbox</td>
                                    <td *ngIf="dt.type == '3'">Slider</td>
                                    <td *ngIf="dt.type == '4'">Radio Buttons</td>
                                    <td *ngIf="dt.type == '5'">Range</td>
                                    <td *ngIf="dt.type == '6'">Drop down</td>
                                    <td *ngIf="dt.type == '7'">Date</td>
                                    <td *ngIf="dt.values == ''">N/A</td>
                                    <td *ngIf="dt.values != ''">{{dt.values}}</td>
                                    <td *ngIf="dt.isMandatory == 'true'">Yes</td>
                                    <td *ngIf="dt.isMandatory == 'false'">No</td>
                                    <td *ngIf="btnFlag">
                                        <div class="btn-hover">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteFilter(dt.filterId)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editFilter" class="btn btn-primary btn-xs" (click)="gotoEditData(dt)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addFilter" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -30px;">
            <div class="modal-header">
                Filter
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="filter" (ngSubmit)="submitForm(filter)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Field Name</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" placeholder="Enter field and special charector not allow" name="fieldName"
                                    [formControl]="filter.controls['fieldName']" [ngModel]="filter.fieldName" pattern="^[a-zA-Z\d\-_\s]+$">

                                <div *ngIf="filter.controls['fieldName'].errors && (filter.controls['fieldName'].dirty || filter.controls['fieldName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['fieldName'].errors.required">
                                        Field Name is Required
                                    </div>
                                    <div [hidden]="!filter.controls['fieldName'].errors.pattern">
                                        Enter valid name Special chatector not allow
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Field In({{dd.langaugeName}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" placeholder="Enter field In {{dd.langaugeName}}" name="fieldName"
                                    [formControl]="filter.controls['fieldNameOther']" [ngModel]="filter.fieldNameOther" [ngClass]="'addField'+dd.langId"
                                    required>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Type</label>
                            <div class="col-lg-6">
                                <select class="form-control input-sm typeVal" [formControl]="filter.controls['type']" (change)="checkValues(abc.value)" #abc>
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="1">Text-Box</option>
                                    <option value="2">Checkbox</option>
                                    <option value="3">Slider</option>
                                    <option value="4">Radio Buttons</option>
                                    <option value="5">Range</option>
                                    <option value="6">Drop down</option>
                                    <!-- <option value="7">Date</option> -->
                                </select>
                            </div>
                        </div>
                        <div id="addDiv">
                            <div class="form-group col-xs-12 zeroPadding">
                                <label for="input-2" class="col-xs-3 control-label">Values</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field values" placeholder="Enter values comma(,) seprated" name="values"
                                        [formControl]="filter.controls['values']" [ngModel]="filter.values">

                                    <!-- <div *ngIf="filter.controls['values'].errors && (filter.controls['values'].dirty || filter.controls['values'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['values'].errors.required">
                                        Language Code Required
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                                <label for="input-2" class="col-xs-3 control-label">Values ({{dd.langaugeName}})</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field" placeholder="Enter values in ({{dd.langaugeName}}) comma(,) seprated"
                                        name="values" [formControl]="filter.controls['valuesOther']" [ngModel]="filter.valuesOther" [ngClass]="'addValues'+dd.langId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Is Mandatory</label>
                            <div class="col-lg-6">
                                <label class="switch col-lg-3">
                                    <input type="checkbox" checked [formControl]="filter.controls['isMandatory']" id="mandVal" [ngModel]="isMandatory">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!filter.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editFilter" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -159px;">
            <div class="modal-header text-transform">
                Edit Filter
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editFilter" (ngSubmit)="editFilterFunc(editFilter)">
                <div class="modal-body">
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Field Name:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter fields and special charector not allow" [formControl]="editFilter.controls['newFieldName']"
                                [(ngModel)]="obj.fieldName" pattern="^[a-zA-Z\d\-_\s]+$">
                            <div *ngIf="editFilter.controls['newFieldName'].errors && (editFilter.controls['newFieldName'].dirty || editFilter.controls['newFieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editFilter.controls['newFieldName'].errors.required">
                                    fieldName is required
                                </div>
                                <div [hidden]="!editFilter.controls['newFieldName'].errors.pattern">
                                    Enter valid name Special chatector not allow
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3">Field In ({{dd.langaugeName}}):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field eField" placeholder="Enter field In {{dd.langaugeName}}" [ngClass]="'editField'+dd.langId"
                                required>

                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Type</label>
                        <div class="col-lg-6">
                            <select class="form-control input-sm" [formControl]="editFilter.controls['type']" [ngModel]="type" (change)="checkValues(xyz.value)"
                                #xyz>
                                <option value="1">Text-Box</option>
                                <option value="2">Checkbox</option>
                                <option value="3">Slider</option>
                                <option value="4">Radio Buttons</option>
                                <option value="5">Range</option>
                                <option value="6">Drop down</option>
                                <!-- <option value="7">Date</option> -->
                            </select>
                        </div>

                    </div>
                    <div id="editDiv">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Values</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field editValues" placeholder="Enter values comma(,) seprated" name="values"
                                    [formControl]="editFilter.controls['values']" [(ngModel)]="obj.values">

                                <!-- <div *ngIf="filter.controls['values'].errors && (filter.controls['values'].dirty || filter.controls['values'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!filter.controls['values'].errors.required">
                                    Language Code Required
                                </div>
                            </div> -->
                            </div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Values In ({{dd.langaugeName}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field eValues" placeholder="Enter values comma(,) seprated In In {{dd.langaugeName}}"
                                    [ngClass]="'editValues'+dd.langId">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Is Mandatory</label>
                        <div class="col-lg-6">
                            <label class="switch col-lg-3">
                                <input type="checkbox" [formControl]="editFilter.controls['isMandatory']" [checked]="obj.isMandatory == 'true'" id="{{obj}}"
                                    [ngModel]="isMandatory">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!editFilter.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>