<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Purchases</div>
</div>-->
<div class="col-xl-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="width: 86%;margin: -2px 0 0 14px;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0">
                    <label class="label-control" style="margin: 0.9% 0 0 0.7%;">records per page</label>
                </div>
                <!--<input class="customSearch" placeholder="Search.." type="text" style="margin: -24px 21px 0 0;" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="text-align: center;width: 10%">#</th>
                                    <th style="width: 45%;text-align: center;">UserName</th>
                                    <th style="width: 45%;text-align: center;">ViewOn</th>
                                    <!--<th style="width: 21%;text-align: center;">Counter </th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="9">No Data Available</td>
                                </tr>
                                <tr *ngFor="let data  of pramotPostData | paginate: { itemsPerPage: rowsOnPage, currentPage: p,totalItems:count }; let i = index"
                                    [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(data.username)">{{data.username}}</a>
                                    </td>
                                    <td>{{data.clickOn | date}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="getPage($event)" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span>
                                    <img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;">
                                </span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span>
                                    <img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;" onError="this.src='assets/img/users/default_user.jpg';">
                                </span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <!--<tr>
                                        <td class="pull-left">Full Name</td>
                                        <td class="pull-right">adcdc</td>
                                    </tr>-->
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>