<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" data-target="#addLanguage">Add</button>
                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center">#</th>
                                    <th style="width: 29%;text-align: center">Language</th>
                                    <th style="width: 23%;text-align: center">Language Code</th>
                                    <th style="width: 22%;text-align: center">Direction</th>
                                    <th style="width: 20%;text-align: center" class="thAction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="7">No data found</td>
                                </tr>
                                <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{dt.langaugeName}}</td>
                                    <td>{{dt.languageCode}}</td>
                                    <td *ngIf="dt.isRtl == 'true'">rtl</td>
                                    <td *ngIf="dt.isRtl == 'false'">ltr</td>
                                    <td *ngIf="btnFlag">
                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editLanguage" class="btn btn-primary btn-xs" (click)="gotoEditData(dt)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" id="dltBTN" (click)="gotoDeleteLanguage(dt)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addLanguage" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Language
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="language" (ngSubmit)="submitForm(language)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Language</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="languageName" [formControl]="language.controls['languageName']"
                                    [ngModel]="language.languageName">

                                <div *ngIf="language.controls['languageName'].errors && (language.controls['languageName'].dirty || language.controls['languageName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!language.controls['languageName'].errors.required">
                                        Language is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Language Code</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="languageCode" [formControl]="language.controls['languageCode']"
                                    [ngModel]="language.languageCode">

                                <div *ngIf="language.controls['languageCode'].errors && (language.controls['languageCode'].dirty || language.controls['languageCode'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!language.controls['languageCode'].errors.required">
                                        Language Code Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">is RTL</label>
                            <div class="col-xs-9">
                                <input type="checkbox" checked [formControl]="language.controls['isRtl']" [ngModel]="isRtl">

                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!language.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="editLanguage" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Language
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editLanguage" (ngSubmit)="editForm(editLanguage)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Language</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="languageName" [formControl]="editLanguage.controls['languageName']"
                                    [(ngModel)]="obj.langaugeName">

                                <div *ngIf="editLanguage.controls['languageName'].errors && (editLanguage.controls['languageName'].dirty || editLanguage.controls['languageName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editLanguage.controls['languageName'].errors.required">
                                        Language is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Language Code</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="languageCode" [formControl]="editLanguage.controls['languageCode']"
                                    [(ngModel)]="obj.languageCode">

                                <div *ngIf="editLanguage.controls['languageCode'].errors && (editLanguage.controls['languageCode'].dirty || editLanguage.controls['languageCode'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editLanguage.controls['languageCode'].errors.required">
                                        Language Code Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">is RTL</label>
                            <div class="col-xs-9">
                                <input type="checkbox" [formControl]="editLanguage.controls['isRtl']" id="isRtl" [checked]="obj.isRtl == 'true'">

                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editLanguage.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>